@import "tailwindcss";
@plugin '@tailwindcss/typography';

@import "@fontsource-variable/sora";
@theme {
	--font-sora: "Sora Variable", "sans-serif";
}

.prose img {
	width: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
    max-height: 550px;
}

.prose {
    text-align: justify;
}

.prose h1, h2, h3, h4, h5, h6 {
	text-align: start;
}