---
// Anda bisa menempatkan komponen ini di src/components/ContactSection.astro
---

<section class="relative overflow-hidden bg-[#ac1234] text-white font-sora" id="kontak">
	<div class="container mx-auto md:pb-5 px-6 2xl:px-28">
		<div class="flex flex-wrap relative">
			<div class="w-full lg:w-5/12">
				<div class="mt-8 md:mb-0 md:mt-12">
					<h6
						class="inline-block py-2 px-5 mb-3.5 text-sm uppercase tracking-wider rounded-full border border-white/50"
					>
						Kontak Kami
					</h6>

					<h2 class="text-4xl md:text-5xl mb-1.5 font-semibold">
						Kampus <span class="inline-block">Gila Marketing</span>
					</h2>

					<p class="text-[15px] mt-2.5 text-gray-300">
						Jl. Ahmad Yani km 5.5 RT. 08 Banjarmasin<br />Telp. (0511) 325 6560
					</p>
					<p class="text-[15px] mt-2.5 text-gray-300">
						Jl. Trikora RT.018 RW.03 Kel. Guntung Manggis Kec. Landasan Ulin
						Banjarbaru<br />Telp. (0511) 4777200
					</p>

					<div class="text-2xl md:text-3xl font-semibold mt-8 underline">
						<a href="mailto:stie@stiepancasetia.ac.id" class="hover:text-violet-300"
							>stie@stiepancasetia.ac.id</a
						>
					</div>

					<ul class="flex gap-4 md:gap-8 my-8 text-xs md:text-sm uppercase tracking-wider">
						<li>
							<a href="#" class="hover:text-yellow-300 transition-colors"
								>Facebook</a>
						</li>
						<li>
							<a href="#" class="hover:text-yellow-300 transition-colors"
								>Twitter</a>
						</li>
						<li>
							<a href="#" class="hover:text-yellow-300 transition-colors"
								>LinkedIn</a>
						</li>
						<li>
							<a href="#" class="hover:text-yellow-300 transition-colors"
								>Instagram</a>
						</li>
					</ul>
				</div>
			</div>

			<img
				class="w-[40rem] hidden lg:block bottom-2 right-0 absolute"
                src="/human-contact-footer-img.svg"
			/>
		</div>
	</div>

	<div
		class="absolute top-[-15vw] right-[-30vw] w-[80vw] h-[80vw] border-[200px] border-white/5 rounded-full -z-10 pointer-events-none"
		aria-hidden="true"
	>
	</div>
</section>
