---
// Anda bisa menempatkan ini di src/components/CallToAction.astro
---

<section class="bg-[#BC7576] px-6 2xl:px-28 font-sora">
	<div class="container mx-auto py-10 lg:py-18">
		<div
			class="relative z-10 flex flex-col lg:flex-row items-center justify-between gap-12 lg:gap-8"
		>
			<div class="text-center lg:text-left">
				<h2 class="text-2xl flex flex-col gap-2 md:text-5xl font-semibold text-white">
					<span class="block">Cari Kuliah Berbasis ICT </span>
					<span class="block">Dengan Harga Terjangkau dan bisa</span>
					<span class="block">Disambi Kerja?</span>
					<span class="block font-serif italic font-medium"
						>Pancasetia Tempatnya!</span
					>
				</h2>
			</div>

			<div class="flex-shrink-0">
				<a
					href="https://siakad.stiepancasetia.ac.id/pmb"
					class="group relative flex w-48 h-48 lg:w-52 lg:h-52 items-center justify-center rounded-full text-center text-white overflow-hidden transition-colors duration-300"
					target="_blank"
				>
					<div
						class="absolute inset-0 bg-[#ac1234] rounded-full scale-0 group-hover:scale-100 transition-transform duration-400 ease-in-out -z-10"
					>
					</div>

					<img
						src="/circle-star.svg"
						alt=""
						class="absolute inset-0 w-full h-full animate-[rotateCircle_20s_linear_infinite]"
					/>

					<div class="-mt-5 relative z-10 flex flex-col items-center">
						<span>
							<svg
								class="w-12 h-12"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
									fill="currentColor"></path>
							</svg>
						</span>
						<span class="mt-0.5 text-sm font-semibold uppercase tracking-wider"
							>Daftar Sekarang</span
						>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
