---
// src/components/TranslateButton.astro
---

<button
	id="custom-translate-button"
	title="Translate page"
	class="md:-mt-1 -ml-2 flex justify-center items-center hover:scale-105 active:scale-95 transition-all duration-200 rounded-full hover:bg-amber-300/20 p-1.5 cursor-pointer"
>
	<img src="/translate_icon.svg" class="md:w-auto md:h-auto w-6 h-6" alt="">
</button>

<div id="google_translate_element" class="hidden"></div>

<script is:inline>
	function googleTranslateElementInit() {
		new google.translate.TranslateElement(
			{
				pageLanguage: "id", // Bahasa asli website Anda (id = Indonesia)
				includedLanguages: "en,id,ar,ja,ko", // Bahasa yang tersedia di dropdown (en = English)
				layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
				autoDisplay: false,
			},
			"google_translate_element"
		);
	}
</script>

<script
	is:inline
	src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
></script>

<script>
    const customButton = document.getElementById('custom-translate-button');
    if (customButton) {
        customButton.addEventListener('click', function () {
            // 1. Atur cookie Google Translate ke bahasa target ('en' untuk Inggris)
            // Formatnya adalah /bahasa-sumber/bahasa-target
            document.cookie = 'googtrans=/id/en; path=/';

            // 2. Muat ulang halaman agar cookie diterapkan
            location.reload();
        });
    }
</script>